<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <!--<div class="titulo-form">ADMINISTRADOR</div>-->
            <!--<h:dataTable value="#{appBean.inscricaoMinicursoJpa.findInscricaoMinicursoByNumero(13)}" var="o">-->
            <!--<h:dataTable value="#{appBean.inscricaoJpa.findByCpf(6664064995)}" var="o">-->
            <h:dataTable value="#{appBean.inscricaoJpa.findByNumero()}" var="o">
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Número Inscrição</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.numero}"/>
                </h:column>
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">CPF</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.cpf}"/>
                </h:column>
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">nome</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.nome}"/>
                </h:column>
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">cidade</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.cidade}"/>
                </h:column>
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">estado</f:facet>
                    <!-- row record -->
                    <h:outputText value="#{o.estado}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
